#lianaFloresPage{
	background-color: #fcd5e7;
}

#cavetownPage{
	background-color: #d6e9e2;
}

#laufeyPage{
	background-color: #e0f2f9;
}

#hadestownPage{
	background-color: #303030;
}	

#homePage{
	background-color: lavender;
}

/*TOPNAV*/
#cavetownTopnav{
	background-color: #375c57;
}

#lianaFloresTopnav{
	background-color: #e7533f;
}

#laufeyTopnav{
	background-color: #2e325c;
}

#homeTopnav{
	background-color: #4e2757;
}

#hadestownTopnav{
	background-color: #a11212;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
	text-decoration: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*PAGES WORDS*/
.container {
	padding:0 40px;
	max-width:720px;
	margin:60px auto;
	
	color: black;
}
#cavetownWords{
	color: #375c57;
}

#laufeyWords{
	color: #10376e;
}

#lianaFloresWords{
	color: #e7533f;
}

#homeWords{
	color:;
}

#hadestownWords{
	color: #f5ecd5;
}
